<div class="row">
  <div class="col">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Xi - Interim moisture storage:</td>
          <td>
            <input type="form-control" [(ngModel)]="Xi">
          </td>
        </tr>

        <tr>
          <td> Ei - Total depth of water removed by ET from the plant-root zone during day</td>
          <td>
            <input type="form-control" [(ngModel)]="Ei">
          </td>
        </tr>
        <tr>
          <td> Mm - Moisture-storage capcity of plant root zone</td>
          <td>
            <input type="form-control" [(ngModel)]="Mm">
          </td>
        </tr>
        <tr>
          <td> DR - Daily rate of direct recharge</td>
          <td>
            <input type="form-control" [(ngModel)]="DR">
          </td>
        </tr>

        <tr>
          <td> Qi - Ground water recharge during day</td>
          <td>
            {{DayValues[0].Qi}}
          </td>
        </tr>
        <tr>
          <td> Mi - Moisture storage at the end of the current day</td>
          <td>
            {{DayValues[0].Mi}}
          </td>
        </tr>

    </table>
  </div>

</div>
<div class="row">
  <div class="col-sm">
    <div class="well well-sm">
      <p>If Xi - Ei
        <=M m, then Qi=D R and Mi=X i - Ei </p>
    </div>
  </div>
  <div class="col-sm">
    <div class="well well-sm">
      <p>If Xi - Ei > Mm, then Qi = (Xi - Ei - Mm) + DR and Mi = Mm </p>
    </div>
  </div>

</div>


<div class="row">
  <div class="col">
    <app-ngx-test *ngIf="chartData" [data]="chartData"> </app-ngx-test>
  </div>
</div>


<div class="row">
  <div class="col">
    <p>
      Sliders go here
      </p>
    <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
 </div>
</div>