<section class="mat-typography">

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="coloredContainerX box" >
        <div fxFlex>
  <md-card style="min-height:500px">
    <md-card-content>

          <!-- <p>If Xi - Ei 
            <=M m, then Qi=D R and Mi=X i - Ei <br>
              If Xi - Ei > Mm, then Qi = (Xi - Ei - Mm) + DR and Mi = Mm
              <p> -->


             DR - Daily rate of direct recharge
            
              <md-slider [(ngModel)]="DR" [thumb-label]=true></md-slider>
          
            {{DR}}
   

    <!-- </md-card-content>
  </md-card> -->



    <!-- <md-card style="height: 400px; min-height: 250px;"> 
    <md-card-content>  -->
      <app-ngx-test *ngIf="chartData" [data]="chartData" [xAxisLabel] = "xAxisLabel" [yAxisLabel]='yAxisLabel'> </app-ngx-test>
     </md-card-content>
  </md-card>
</div>


<div fxFlex>

  <md-card style="min-height:500px">
    <md-card-content>

          <!-- <p>If Xi - Ei 
            <=M m, then Qi=D R and Mi=X i - Ei <br>
              If Xi - Ei > Mm, then Qi = (Xi - Ei - Mm) + DR and Mi = Mm
              <p> -->


             DR - Daily rate of direct recharge
            
              <md-slider [(ngModel)]="DR" [thumb-label]=true></md-slider>
          
            {{DR}}
   





    <!-- <md-card style="height: 400px; min-height: 250px;"> 
    <md-card-content>  -->
      <app-ngx-test *ngIf="chartData" [data]="chartData" [xAxisLabel] = "xAxisLabel" [yAxisLabel]='yAxisLabel'> </app-ngx-test>
     </md-card-content>
  </md-card> 
  </div>
</div>
</section>