<div class="row">
  <div class="col">
    <div class="well well-md">
      <p>
        Hawai‘i depends exclusively on local water. The ‘Ike Wai project will provide data and models that address the grand challenge
        of water sustainability. A diverse workforce of data scientists and water researchers will work in concert with the
        community, government and business to inform decision makers with high-quality data and predictive capacity. The
        project incorporates indigenous and local communities, and its robust, inclusive and diverse human capital pipeline
        of undergraduates, graduate students, postdocs and junior faculty will address water challenges at the academic and
        policy level.
      </p>
    </div>
  </div>
</div>